<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="model" default="$(find turtlebot_description)/robots/kobuki_hexagons_astra.urdf.xacro"/>
    <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <node name="interface" pkg="turtlebot_interface" type="interface" output="screen"/>

</launch>